.player-cart {
  border: 1px solid black;
  width: 200px;
  height: 125px;
  margin: 15px;
}

.current-current {
  background-color: pink;
}

.green-current {
  border: 4px solid green;
}

.white-current {
  border: 4px solid white;
}

.yellow-current {
  border: 4px solid yellow;
}

.blue-current {
  border: 4px solid blue;
}

.red-current {
  border: 4px solid red;
}

.player-blue-goods {
  display: flex;

  div {
    border: 1px solid #00008B;
    width: 10px;
    height: 10px;
    margin: 2px;
  }
}

.player-red-goods {
  display: flex;

  div {
    border: 1px solid #8B0000;
    width: 10px;
    height: 10px;
    margin: 2px;
  }
}

.player-green-goods {
  display: flex;

  div {
    border: 1px solid	#32CD32;
    width: 10px;
    height: 10px;
    margin: 2px;
  }
}

.player-yellow-goods {
  display: flex;

  div {
    border: 1px solid #FFE200;
    width: 10px;
    height: 10px;
    margin: 2px;
  }
}
