.game-tile {
  border: 1px solid black;
  margin: 5px;
  padding: 15px;
  height: 125px;
}

// OTHERS
.others-space {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 25px;
}

.governor {
  width: 20px;
  height: 20px;
  background-color: purple;
  border-radius: 50px;
  margin: 10px;
}

.smuggler {
  width: 20px;
  height: 20px;
  background-color: black;
  border-radius: 50px;
  margin: 10px;
}

.courier {
  width: 20px;
  height: 20px;
  background-color: gray;
  border-radius: 50px;
  margin: 10px;
}

.coffee-trader {
  width: 20px;
  height: 20px;
  background-color: brown;
  border-radius: 50px;
  margin: 10px;
}

// PLAYERS

.players-space {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 25px;
}

.green-player {
  width: 20px;
  height: 20px;
  background-color: green;
  border-radius: 50px;
  margin: 10px;
  border: .25px solid black;
}

.yellow-player {
  width: 20px;
  height: 20px;
  background-color: yellow;
  border-radius: 50px;
  margin: 10px;
  border: .25px solid black;
}

.red-player {
  width: 20px;
  height: 20px;
  background-color: red;
  border-radius: 50px;
  margin: 10px;
  border: .25px solid black;
}

.blue-player {
  width: 20px;
  height: 20px;
  background-color: blue;
  border-radius: 50px;
  margin: 10px;
  border: .25px solid black;
}

.white-player {
  width: 20px;
  height: 20px;
  background-color: white;
  border-radius: 50px;
  margin: 10px;
  border: .25px solid black;
}

// ASSISTANTS

.assistants-space {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 25px;
}

.green-assistant {
  width: 20px;
  height: 20px;
  // background-color: green;
  border-radius: 50px;
  margin: 10px;
  border: 1px solid green;
}

.yellow-assistant {
  width: 20px;
  height: 20px;
  // background-color: yellow;
  border-radius: 50px;
  margin: 10px;
  border: 1px solid yellow;
}

.red-assistant {
  width: 20px;
  height: 20px;
  // background-color: red;
  border-radius: 50px;
  margin: 10px;
  border: 1px solid red;
}

.blue-assistant {
  width: 20px;
  height: 20px;
  // background-color: blue;
  border-radius: 50px;
  margin: 10px;
  border: 1px solid blue;
}

.white-assistant {
  width: 20px;
  height: 20px;
  background-color: white;
  border-radius: 50px;
  margin: 10px;
  border: 1px solid black;
}
